name: publish-crate

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: '"ubuntu-latest"'
      crate:
        required: true
        type: string
      apt-packages:
        required: false
        type: string
        default: ""
      copy-doc-assets:
        required: false
        type: string
        default: ""   # space-separated list of files to copy
      dry-run-only:
        required: false
        type: boolean
        default: false
      tag-validation:
        required: false
        type: boolean
        default: true
    secrets:
      CRATES_IO_API_TOKEN:
        required: true

jobs:
  publish-crate:
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install rust
        uses: dtolnay/rust-toolchain@stable

      - name: install apt packages
        if: ${{ inputs.apt-packages != '' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ inputs.apt-packages }}

      - name: copy doc assets
        if: ${{ inputs.copy-doc-assets != '' }}
        run: |
          for file in ${{ inputs.copy-doc-assets }}; do
            cp "$file" "crates/${{ inputs.crate }}/"
            # Add to git per-checkout exclude
            # This is a cargo publish fix instead of using --allow-dirty for the whole crate
            echo "crates/${{ inputs.crate }}/$(basename "$file")" >> .git/info/exclude
          done

      - name: publish to crates.io
        run: cargo xtask publish ${{ inputs.tag-validation && '--validate-tag-version' || '' }} --tag ${{ github.ref_name }} ${{ inputs.crate }} ${{ inputs.dry-run-only && '--dry-run-only' || '' }}
        env:
          CRATES_IO_API_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
